.ta-calendar {
  max-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: $white;
  .ta-agenda-calendar-wrapper {
    font-family: "Lato", sans-serif;
    color: $black;
    border: $primary-border;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .agenda-header {
      display: flex;
      flex: 1;
      border-bottom: $primary-border;
      background: $white;
      min-height: 80px;
      position: relative;
      .agenda-header-hour-block-padding {
        width: 50px;
        border-right: $primary-border;
      }
      .agenda-header-row {
        display: flex;
        flex: 1;
        border-right: $primary-border;
        flex-direction: column;
        position: relative;
        padding: 0.5rem;
        .header-date-name {
          font-size: 0.75rem;
          color: $black;
        }
        .header-date-number {
          font-size: 2.5rem;
          color: $grey;
        }
      }
    }
    .agenda-body {
      display: flex;
      position: relative;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      .agenda-hours-wrapper {
        width: 50px;
        .hour-block {
          height: $agenda-block-height;
          border-right: $primary-border;
          display: flex;
          justify-content: center;
          border-bottom: solid 1px transparent;
          span {
            position: relative;
            top: -0.55rem;
            color: $black;
            font-size: 0.75rem;
          }
        }
      }
      .agenda-display-wrapper {
        display: flex;
        flex: 1;
        .agenda-row {
          display: flex;
          flex: 1;
          flex-direction: column;
          position: relative;
          &.is-weekend {
            background: $faded-red;
            .agenda-row-hour-block {
              border-bottom: $faded-red-border;
              border-right: $faded-red-border;
              border-left: $faded-red-border;
            }
          }
          &.is-today {
            background: $faded-blue;
            .agenda-row-hour-block {
              border-bottom: $faded-blue-border;
              border-right: $faded-blue-border;
              border-left: $faded-blue-border;
            }
          }
          .event {
            position: absolute;
            height: 24.5px;
            max-width: calc(100% - 1.5rem);
            width: 200px;
            background: #f9f9f9;
            font-size: 0.6rem;
            color: $white;
            z-index: 1;
            color: $black;
            cursor: pointer;
            box-shadow: $primary-box-shadow;
            overflow: hidden;
            overflow-y: scroll;
            .event-title {
              padding: 0.1rem 0.25rem;
            }
          }
          .agenda-row-hour-block {
            display: flex;
            flex: 1;
            min-height: $agenda-block-height;
            border-bottom: $primary-border;
            border-right: $primary-border;
          }
        }
      }
    }
  }
}
