.input-group {
  margin: 1rem 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  .input-label {
    color: $light-font-color;
    font-size: 0.625rem;
    text-transform: uppercase;
    margin-bottom: 0.75rem;
  }
  .input-control {
    display: flex;
    flex: 1;
    background: $input-bg-color;
    height: 45px;
    width: calc(100% - 1.25rem);
    box-shadow: none;
    border: none;
    border-radius: 2px;
    outline: none;
    color: $black;
    font-size: $placeholder-size;
    padding-left: 1.25rem;
  }
  select.input-control {
    width: 100%;
  }
}

.form-errors {
  background: $faded-red;
  padding: .5rem;
  display: none;
  .validation-message {
    font-size: 0.75rem;
    color: $red;
    margin-top: .5rem;
    &:first-child {
      margin-top: 0;
    }
  }
}

.buttons {
  display: flex;
  .btn:nth-child(2){
    margin-left: 1rem;
  }
}

.btn {
  border: none;
  box-shadow: $primary-box-shadow;
  width: 100%;
  height: 35px;
  color: $white;
  font-size: 0.8125rem;
  outline: none;
  cursor: pointer;
  max-width: 100px;
  &.primary {
    background: $blue;
    box-shadow: $blue-box-shadow;
  }
  &.danger {
    background: $red;
    box-shadow: $blue-box-shadow;
  }
  &.transparent {
    box-shadow: none;
    color: $black;
    font-weight: bold;
    max-width: 70px;
  }
}
