body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.calendar-controls-wrapper {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  .section-controls {
    display: flex;
    .arrow {
      width: 50px;
      cursor: pointer;
      display: flex;
      justify-content: center;
    }
  }
  .section-title {
    color: $dark-grey;
    font-size: 1.05rem;
  }
  svg {
    fill: $light-grey;
  }
  .menu {
    display: none;
    position: absolute;
    right: 1.25rem;
    background: $white;
    box-shadow: $primary-box-shadow;
    width: 200px;
    top: 3rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    z-index: 999;
    &.open {
      display: block;
    }
    .menu-item {
      height: 40px;
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 12px;
      border-bottom: 1px solid #eee;
      color: $black;
    }
  }
  .section-menu {
    width: 50px;
    display: flex;
    justify-content: center;
  }
}

.times-wrapper {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  .available-time-block {
    height: 15px;
    font-size: 0.6rem;
    // border-radius: 8px;
    background: #f9f9f9;
    margin: 0.05rem;
    padding: 0 0.3rem;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
    color: $black;
    z-index: 1;
    box-shadow: $primary-box-shadow;
    cursor: pointer;
    margin: 0.5rem;
    min-width: 50px;
  }
  input[type="radio"]:checked + .available-time-block {
    background: $success-green;
    color: $white;
  }
}
