.modal {
    display: none; 
    padding: 1rem;
    justify-content: center;
    align-items: center;
    position: fixed; 
    z-index: 99; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow-y: auto; 
    background-color: $opacity-black; 
    box-shadow: $primary-box-shadow;
    .modal-content {
        background-color: $white;
        margin: auto;
        padding: 1.25rem;
        border: $primary-border;
        width: 550px;
        max-width: calc(100% - 2.5rem);
        .modal-title {
            color: $black;
            font-size: 1.4625rem;
            margin-top: 0;
        }
    }
}
