
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

// Colors
$border-color: #F1F3F4;
$white: #fff;
$pink: #FC7773;
$grey-blue: #5F7D8C;
$red: #F40842;
$dark-red: #B1052F;
$dark-blue: #2786FF;
$dark-green: #4BA656;
$success-green: #7DD83E;
$blue: #4786FF;
$green: #4BC856;
$orange: #F59D00;
$light-orange: #F3B029;
$faded-blue: #E7F2FF;
$faded-red: #F6E3E7;
$faded-green: #daefdc;
$faded-orange: #f7e5c5;
$black: #45475C;

$primary-box-shadow: 0 2px 4px 0 rgba(227,232,236,0.50);

// Borders
$primary-border: solid 1px $border-color;

$vano-customers-results-font-color: #7890A8;

// Fonts
$primary-font-color: $black;
$light-font-color: #AFC3D3;
$week-block-height: 48px;

.ta-month-calendar-wrapper {
    color: $black;
    font-family: 'Lato', sans-serif;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .ta-month-header {
        display: flex;
        flex: 1;
        border: $primary-border;
        border-right: none;
        .ta-month-header-label {
            display: flex;
            height: 30px;
            align-items: center;
            flex: 1;
            border-right: $primary-border;
            justify-content: center;
            font-size: .8375rem;
        }
    }
    .ta-month-body {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    .ta-month-row {
        display: flex;
        flex: 1;
        .ta-month-day {
            background: white;
            border-left: $primary-border;
            border-bottom: $primary-border;
            display: flex;
            flex: 1;
            flex-direction: column;
            padding: .25rem;
            min-height: 75px;
            &.ta-today {
                background: $faded-blue;
            }
            &.ta-other-month {
                background: #f6f6f6;
                border-left-color: #eee;
                border-bottom-color: #eee;
            }
            .ta-month-day-number {
                height: 20px;
                font-weight: 400;
                font-size: .65rem;
                display: flex;
                align-items: center;
            }
            .ta-month-day-events {
                display: flex;
                flex: 1;
                flex-direction: column;
                .ta-event {
                    height: 15px;
                    font-size: .6rem; // border-radius: 8px;
                    background: #f9f9f9;
                    margin: .05rem;
                    padding: 0 .3rem;
                    display: flex;
                    flex-wrap: wrap;
                    overflow: hidden;
                    align-items: center;
                    color: $primary-font-color;
                    z-index: 1;
                    box-shadow: $primary-box-shadow;
                    cursor: pointer;
                    &:first-child {
                        margin-top: 0;
                    }
                }
                .ta-more-events {
                    height: 12px;
                    font-size: .65rem;
                    font-weight: 500;
                    color: $light-font-color;
                    margin-top: .25rem;
                    margin-left: .35rem;
                    cursor: pointer;
                }
            }
        }
    }
}