// Colors
$border-color: #edeeef;
$white: #fff;
$black: #45475C;
$red: #F27474;
$dark-red: #F40842;
$grey: #7890A8;
$light-grey: #aaa;
$dark-grey: #6d6b6b;
$faded-blue: #E7F2FF;
$blue: #4786FF;
$green: #4BC856;
$success-green: #7DD83E;
$opacity-black: rgba(0,0,0,0.4);
$faded-red: #F6E3E7;
$input-bg-color: #F4F6F8;
$light-font-color: #AFC3D3;

// Shadows
$red-box-shadow: 0 2px 4px 0 rgba(244,8,66,0.25);
$blue-box-shadow: 0 2px 4px 0 rgba(106,155,250,0.58);
$primary-box-shadow: 0 2px 4px 0 rgba(227,232,236,0.50);

// Borders
$primary-border: solid 1px $border-color;
$faded-blue-border: solid 1px #d4e5f9;
$faded-red-border: solid 1px #f5d4db;

// Dimensions
$agenda-block-height: 48px;
$placeholder-size: .75rem;